@tailwind base
@tailwind components
@tailwind utilities


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap')

body
	font-family: "Montserrat", sans-serif
	background: #F7F7F7
	color: #222222

::selection
	background: #FAB38B
	color: #3B3B3B

.transition
	transition: all .1s ease-out

button
	@apply font-bold text-primary-gray uppercase border-2 border-solid px-4 py-2

button:focus
	outline: 0
