@tailwind base
@tailwind components
@tailwind utilities


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap')

body
	font-family: "Montserrat", sans-serif
	background: #F7F7F7
	color: #222222

small
	color: #7E7E7E

hr
	border-color: #E1E1E1

::selection
	background: #FAB38B
	color: #3B3B3B
